
<div class="dashboard">

  <div class="dashboard-header">
    <h1>SentinelFlow Dashboard</h1>
    <p>Real-Time AML Transaction Monitoring</p>
  </div>

  <div class="dashboard-menu">

    <div class="menu-card" routerLink="/transaction">
      <h2>Transactions</h2>
      <p>Process and monitor financial transactions.</p>
      <button>Open Transactions</button>
    </div>

    <div class="menu-card" routerLink="/alerts">
      <h2>AML Alerts</h2>
      <p>View and review suspicious transactions and alerts.</p>
      <button>View Alerts</button>
    </div>

  </div>

</div>
